body {

    background-color: #9E9CF4;

}

.cabecalho{
    background-color: rgb(139, 137, 135);
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.cabecalho__titulo {

    display: inline;

}

.cabecalho__imagem {
    width: 176px;
    height: 187px;
}

.cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item{

    display: inline;
    margin-left: 20px;
    font-size: 32px;
}

.escola{
    background-color: darkcyan;
}

.professores{
    background-color: rgb(35, 6, 163);
}