*{
    margin: 0%;
    padding: 0%;
}

body {

    background-color: #ffffff;

}

.cabecalho{
    background-color: #B3B4B5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.cabecalho__titulo {

    display: inline;

}

.cabecalho__imagem {
    width: 176px;
    height: 187px;
}

.cabecalho__menu {
    display: inline;
}

.cabecalho__menu-item{

    display: inline;
    margin-left: 20px;
    font-size: 32px;
}

.escola{
    display:flex;
    background-color: #9E9CF4;
    justify-content: space-around;
    align-items: center;
}
.escola__imagem {
    width: 300px;
    height: auto;
    
    }


.professores{
    background-color: #2F53D7;
}
.professores__div-imagem {
    width: 120px;
    height: auto;
}