
body{

background-color: #ffffff ;

}
.cabecalho{
    display:flex;
}
.cabecalho__titulo {

display: inline;

}

.cabecalho__imagem {
    width: 176px;
    height: 187px;
}

.cabecalho__menu{
    display: inline; 
}

.cabecalho__menu-item {
    display: inline; 
    margin-left: 20px;

}